      <h1>{{$ctrl.username}} wishlist:</h1>

      <div ng-repeat="t in $ctrl.wishes" class="container">
        <h3 class="col-md-9"><a ui-sref="app.wishdetail({ id: t._id })" title="View details for {{t.title}}">
            {{t.title}}
          </a>
        </h3>
        <div class="col-md-3"><div class="btn-group pull-right" role="group">
          <button title="Delete this wish" ng-show="$ctrl.isOwner" type="button" class="btn btn-default" ng-click="$ctrl.deleteWish(t._id)">
            <i class="fa fa-times"></i>
          </button>
          <button title="Edit this wish" ng-show="$ctrl.isOwner" type="button" class="btn btn-default" >
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button title="I'm going to get this!" ng-show="!$ctrl.isOwner && !(t.isDonated==undefined || t.isDonated)" type="button" class="btn btn-default" ng-click="$ctrl.donateWish(t._id)">
            <i class="fa fa-check"></i>
          </button>
          <button title="Somebody else is getting this!" ng-show="!t.isDonated==undefined && t.isDonated" type="button" disabled class="btn btn-default">
            <i class="fa fa-check"></i>
          </button>
        </div></div>
      </div>
      <div ng-hide="$ctrl.wishes.length"  class="container">
        <p>
          No wishes found!
        </p>
      </div>

      <hr />

      <form ng-show="$ctrl.isOwner" ng-submit="$ctrl.addWish()" style="margin-top:30px;">
        <h3>Add a new whish</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="wishtitle"></input>
        </div>
        <div class="form-group">
          <textarea type="textarea" rows=10
          class="form-control"
          placeholder="Description"
          ng-model="description"></textarea>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>