<!DOCTYPE html>
<html lang="en" ng-app="cadoCom">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title ng-bind="'CadoCom - ' + title + ' - built with the MEAN stack'"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/font-awesome/font-awesome.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

    <script src="/angularApp.js"></script>
    <style> 
      .glyphicon-thumbs-up { cursor:pointer } 

      body {
        padding-top: 5rem;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CadoCom</a>
          <ul class="nav navbar-nav navbar-left">
            <li class="nav-item">
              <a class="nav-link" href="#" ui-sref="index" ui-sref-active="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" ui-sref="wishlist" ui-sref-active="active">Wishlist</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#" ui-sref="giftlist" ui-sref-active="active">Giftlist</a>
            </li> 
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="float: right">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#" ui-sref="profile" ui-sref-active="active">Profile</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#" ui-sref="logout" ui-sref-active="active">Logout</a>
            </li> 
          </ul>
        </div>

      </div><!-- /.container-fluid -->
    </nav>



    <div class="container">

      <div class="starter-template">
        <ui-view></ui-view>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  </body>
</html>