      <h1>CadoCom Gifts</h1>

      <div ng-repeat="gift in gifts">
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="gift.link" href="{{gift.link}}">
            {{gift.title}}
          </a>
          <span>
            <a href="#/gifts/{{gift._id}}">Details</a>
          </span>
          <span ng-hide="gift.link">
            {{gift.title}}
          </span>
        </span>
        <p>
          {{gift.description}}
        </p>
      </div>

      <form ng-submit="addGift()"
        style="margin-top:30px;">
        <h3>Add a new gift</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Description"
          ng-model="description"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>