      <h1>Your giftlist:</h1>

      <div ng-repeat="gift in gifts">
          <a href="#/gifts/{{gift._id}}" title="View details for {{ gift.title }}"><h3>
            {{gift.title}}
          </h3></a>
      </div>

      <hr />

      <form ng-submit="addGift()"
        style="margin-top:30px;">
        <h3>Add a new gift</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea type="textarea" rows=10
          class="form-control"
          placeholder="Description"
          ng-model="description"></textarea>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>