      <h1>User profiles:</h1>

      <div ng-repeat="t in $ctrl.profiles" class="container">
        <h3 class="col-md-9"><a ui-sref="app.profiledetail({ id: t._id })" title="View details for {{t.local.username}}">
            {{t.local.username}}
          </a>
        </h3>
        <div class="col-md-3"><div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-default" ui-sref="app.wishlist({userId: t._id})">
            <i class="fa fa-eye "></i>&nbsp; View wishlist
          </button>
        </div></div>
      </div>

      <div ng-hide="$ctrl.profiles.length"  class="container">
        <p>
          No profiles found!
        </p>
      </div>